<!DOCTYPE html>
<html>
<head>
    <title>Smart Waste Classification</title>
</head>
<body>

    <h1>AI-Based Smart Waste Classification System</h1>

    <form action="/predict" method="POST" enctype="multipart/form-data">

        <input type="file" name="file" required>

        <br><br>

        <input type="submit" value="Predict">

    </form>

    {% if prediction %}

<h2>Prediction: {{ prediction }}</h2>

<h3>AI Eco Guide</h3>

<p><b>Disposal Bin:</b> {{ guide.bin }}</p>

<p><b>Compostable:</b> {{ guide.compost }}</p>

<p><b>Recyclable:</b> {{ guide.recycle }}</p>

<p><b>Eco Tip:</b> {{ guide.tip }}</p>

{% endif %}

</body>
</html>
